body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 100px;
    padding: 100px;
}

h1,p {
    color: Black;
    box-shadow: 0 8px 16px 0 #333;
    border: 5px solid black;
    border-radius: 50px;
    background-color: brown;
    margin: 15px;
}
button {
    border: 5px solid;
    border-radius: 50px;
    width: 200px;
    box-shadow: 0 4px 8px 0;
}

button:hover {
    background-color: #D2691E;
    border: 5px solid;
    border-radius: 50px;
    box-shadow: 0 8px 16px 0;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    box-sizing: border-box;
    border: 5px solid chocolate;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 16px 0;
}

th {
    background-color: blanchedalmond;
    color: chocolate;
    font-size: large;
}

h3 {
    border: 5px solid black;
    border-radius: 50px;
    background-color: antiquewhite;
    margin: 20px;
    color: brown;
    box-shadow: 0 8px 16px 0 #333;
}

.Leader-cell {
    display:flex;
    align-items: baseline;
    white-space: normal;
    border: 5px solid black;
    border-radius: 40px;
    background-color: antiquewhite;
    margin: 50px;
    box-shadow: 0 8px 16px 0 #333;
    padding: 1%;
}

.Leader-label {
    flex-shrink: 0;
}

.Leader-dots {
    flex-grow: 1;
    border-bottom: 1px dotted #333;
    margin: 0 4px;
    height: 1px;
    overflow: hidden;
}

.Leader-value {
    flex-shrink: 0;
}

li:hover {
    border: 5px solid;
    border-radius: 50px;
    box-shadow: 0 8px 16px 0;
}
div h1 {
    background-color: chocolate;
    color: black;
}
#warung {
    background-color: chocolate;
    color: white;
}